<form>
    <label for="birthdate">Geboortedatum</label>
    <div class="form-row" id="birthdate">
        <div class="col">
            <input type="text" class="form-control" placeholder="dag">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="maand">
        </div>
        <div class="col">
            <input type="text" class="form-control" placeholder="jaar">
        </div>
    </div>

    <label for="member_id">Lidnummer</label>
    <input type="text" class="form-control" placeholder="lidnummer">

    <input type="submit" value="Volgende">
</form>